@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Committee Dashboard</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Main     </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row widget-grid">
            <div class="col-xxl-8 col-lg-12 box-col-12">
                <div class="card">
                    <div class="card" style="margin-bottom: 0px;">
                        <img src="~/images/dash/BigBanner.png" alt="Big Banner" class="img-fluid">
                    </div>            
            </div>
        </div>
        <div class="col-xxl-4 col-xl-7 col-md-6 col-sm-5 box-col-6">
                <div class="card height-equal">
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B8ULk3hhKo8" allowfullscreen style="width: 100%;"></iframe>
                        </div>
                    </div>
                </div>
                <div class="card height-equal">
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g5xiPyeV7aM" allowfullscreen style="width: 100%;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
                <div class="card height-equal">
                    <img src="~/images/dash/VerBanner.png" alt="VerBanner" class="img-fluid">
                </div>
            </div>
            <div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
                <div class="card height-equal">
                    <img src="~/images/dash/VerBanner.png" alt="VerBanner" class="img-fluid">
                </div>
            </div>
            <div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
                <div class="card height-equal">
                    <img src="~/images/dash/VerBanner.png" alt="VerBanner" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    <script src="~/assets/js/clock.js"></script>
    <script src="~/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/assets/js/chart/apex-chart/moment.min.js"></script>
    <script src="~/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/dashboard/default.js"></script>
    <script src="~/assets/js/notify/index.js"></script>
    <script src="~/assets/js/typeahead/handlebars.js"></script>
    <script src="~/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="~/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="~/assets/js/typeahead-search/handlebars.js"></script>
    <script src="~/assets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="~/assets/js/height-equal.js"></script>
    <script src="~/assets/js/animation/wow/wow.min.js"></script>
    @* <script>new WOW().init();</script> *@
}
