@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Welcome to the FYP System </h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Main</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="col-xl-6 xl-100 col-lg-12 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="pull-left">Instruction</h5>
                </div>
                <div class="card-body">
                    <div class="tabbed-card">
                        <ul class="pull-right nav nav-pills nav-primary" id="pills-clrtab1" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="pills-clrhome-tab1" data-bs-toggle="pill" href="#pills-clrhome1" role="tab" aria-controls="pills-clrhome1" aria-selected="true">Supervisor</a></li>
                            <li class="nav-item"><a class="nav-link" id="pills-clrprofile-tab1" data-bs-toggle="pill" href="#pills-clrprofile1" role="tab" aria-controls="pills-clrprofile1" aria-selected="false">Proposal</a></li>
                       
                        </ul>
                        <div class="tab-content" id="pills-clrtabContent1">
                            <div class="tab-pane fade show active" id="pills-clrhome1" role="tabpanel" aria-labelledby="pills-clrhome-tab1">
                                <p>First, to submit proposal you must add a new supervisor first. go to manage supervisor tehn select the available supervisor. The supervisor listed is based on the your course. After that wait until the committee approved the supervisor where the status will change from "Pending to "Approved". After the status is approved, you can download the aggreement letter.</p>
                            </div>
                            <div class="tab-pane fade" id="pills-clrprofile1" role="tabpanel" aria-labelledby="pills-clrprofile-tab1">
                                <p>Upon supervisor approved, only then you can submit proposal.Click on the Manage proposal then Enter the proposal title. Upload the proposal File then submit. The proposal status will be "Pending". After the supervisor commented and Evaluator evaluated then the proposal status will be change to "Accepted". If the status changed to "Accepted with conditions" or "Rejected" you are allowed to resubmit the proposal again.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    <script src="~/assets/js/clock.js"></script>
    <script src="~/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/assets/js/chart/apex-chart/moment.min.js"></script>
    <script src="~/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/dashboard/default.js"></script>
    <script src="~/assets/js/notify/index.js"></script>
    <script src="~/assets/js/typeahead/handlebars.js"></script>
    <script src="~/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="~/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="~/assets/js/typeahead-search/handlebars.js"></script>
    <script src="~/assets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="~/assets/js/height-equal.js"></script>
    <script src="~/assets/js/animation/wow/wow.min.js"></script>
    @* <script>new WOW().init();</script> *@
}
