@page
@model RegisterModel
@{
    ViewData["Title"] = "Register Simple";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="row m-0">
    <div class="col-12 p-0">
        <div class="login-card">
            <div>
               
                <div class="login-main" style="width:750px">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="theme-form">
                        <div>
                            <a class="logo" asp-controller="Dashboard" asp-action="Index">
                                <img class="img-fluid for-light" src="~/assets/images/logo/logo_utm.png" style="width:200px" alt="login page">
                                <img class="img-fluid for-dark" src="~/assets/images/logo/logo_utm.png" style="width:200px" alt="login page">
                            </a>
                        </div>
                        <h4>Create your account</h4>
                        <p>Enter your personal details to create an account</p>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">Name</label>
                            <input asp-for="Input.user_name" class="form-control" autocomplete="username" aria-required="true" placeholder="Ali Bin Abu" />
                            <span asp-validation-for="Input.user_name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">IC</label>
                            <input asp-for="Input.user_IC" class="form-control" aria-required="true" placeholder="123456789012" />
                            <span asp-validation-for="Input.user_IC" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">Matric No.</label>
                            <input asp-for="Input.user_matric" class="form-control" aria-required="true" placeholder="A21EC1234" />
                            <span asp-validation-for="Input.user_matric" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">Address</label>
                            <input asp-for="Input.user_address" class="form-control" type="address" aria-required="true" placeholder="Address" />
                            <span asp-validation-for="Input.user_address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">Email</label>
                            <input asp-for="Input.Email" class="form-control" type="email" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">Contact</label>
                            <input asp-for="Input.user_contact" class="form-control" type="ph" aria-required="true" placeholder="Contact Number" />
                            <span asp-validation-for="Input.user_contact" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">Course</label>
                            <select asp-for="Input.course_ID" asp-items="Model.Input.CourseList" class="form-select">
                                <option disabled selected value="">-Select Course-</option>
                            </select>
                            <span asp-validation-for="Input.course_ID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.pt_ID" class="col-form-label pt-0">Project Type</label>
                            <select asp-for="Input.pt_ID" class="form-select">
                                <option disabled selected>Select Domain</option>
                                <option value="Development">Development</option>
                                <option value="Research">Research</option>
                            </select>
                            <span asp-validation-for="Input.pt_ID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">Password</label>
                            <div class="form-input position-relative">
                                <input asp-for="Input.Password" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="*********" />
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label pt-0">Confirm Password</label>
                            <div class="form-input position-relative">
                                <input asp-for="Input.ConfirmPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="*********" />
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                         @if (User.IsInRole(SD.Role_Admin))
                        { 
                        <div class="form-group">
                            <label class="col-form-label pt-0">Select Role</label>
                            <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                <option disabled selected>-Select Role-</option>
                            </select>
                        </div>
                         } 
                        <div class="form-group mb-0">
                            <button id="registerSubmit" type="submit" class="btn btn-primary btn-block w-100">Create Account</button>
                        </div>

                        <h6 class="text-muted mt-4 or">Or sign up with</h6>
                        <p class="mt-4 mb-0">
                            Already have an account?
                            <a class="ms-2" asp-page="./Login">Sign in</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/js/login.js"></script>
    <script>
        $(document).ready(function () {
            $('.show-hide').on('click', function () {
                var passwordField = $(this).siblings('input');
                var type = passwordField.attr('type') === 'password' ? 'text' : 'password';
                passwordField.attr('type', type);
                $(this).toggleClass('show');
            });
        });
    </script>
}
