@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Welcome to FYP System</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Main</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="col-xl-6 xl-100 col-lg-12 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="pull-left">Simple Tab</h5>
                </div>
                <div class="card-body">
                    <div class="tabbed-card">
                        <ul class="pull-right nav nav-pills nav-primary" id="pills-clrtab1" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="pills-clrhome-tab1" data-bs-toggle="pill" href="#pills-clrhome1" role="tab" aria-controls="pills-clrhome1" aria-selected="true">Courses</a></li>
                            <li class="nav-item"><a class="nav-link" id="pills-clrprofile-tab1" data-bs-toggle="pill" href="#pills-clrprofile1" role="tab" aria-controls="pills-clrprofile1" aria-selected="false">Lecturer</a></li>
                        </ul>
                        <div class="tab-content" id="pills-clrtabContent1">
                            <div class="tab-pane fade show active" id="pills-clrhome1" role="tabpanel" aria-labelledby="pills-clrhome-tab1">
                                <p>First, you can manage the programs offered and the count of student in each programs. Click the Course and it will display list of course. You can add or delete and update the courses.</p>
                            </div>
                            <div class="tab-pane fade" id="pills-clrprofile1" role="tabpanel" aria-labelledby="pills-clrprofile-tab1">
<p>Here you can add or register lecturer and their roles whether is a committee or not.</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    <script src="~/assets/js/clock.js"></script>
    <script src="~/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/assets/js/chart/apex-chart/moment.min.js"></script>
    <script src="~/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/dashboard/default.js"></script>
    <script src="~/assets/js/notify/index.js"></script>
    <script src="~/assets/js/typeahead/handlebars.js"></script>
    <script src="~/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="~/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="~/assets/js/typeahead-search/handlebars.js"></script>
    <script src="~/assets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="~/assets/js/height-equal.js"></script>
    <script src="~/assets/js/animation/wow/wow.min.js"></script>
    @* <script>new WOW().init();</script> *@
}
