@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <style>
    .page-body {
        background-image: url('~/assets/images/utmbackground.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        min-height: 100vh; /* Ensure it covers the full height of the viewport */
    }
</style> *@
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Admin Dashboard</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Main</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
        <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row starter-main">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Welcome to FYP1 Management System</h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa-spin fa-cog"></i></li>
                                <li><i class="view-html fa fa-code"></i></li>
                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                <li><i class="icofont icofont-error close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>As an Admin, you can manage academic programs, lecturers, and committee members. Ensure all lists are up-to-date to facilitate smooth project management and assignments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Container-fluid Ends-->
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    <script src="~/assets/js/clock.js"></script>
    <script src="~/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/assets/js/chart/apex-chart/moment.min.js"></script>
    <script src="~/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/dashboard/default.js"></script>
    <script src="~/assets/js/notify/index.js"></script>
    <script src="~/assets/js/typeahead/handlebars.js"></script>
    <script src="~/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="~/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="~/assets/js/typeahead-search/handlebars.js"></script>
    <script src="~/assets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="~/assets/js/height-equal.js"></script>
    <script src="~/assets/js/animation/wow/wow.min.js"></script>
    @* <script>new WOW().init();</script> *@
}
