@model List<ADStarter.Models.ViewModels.StudentViewModels>

@{
    ViewData["Title"] = "Add New Supervisor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = ViewBag.userId;
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Add New Supervisor</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">User Management</li>
                        <li class="breadcrumb-item active">Add New Supervisor</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <form asp-action="AddSupervisor" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Academic Session</label>
                            <input type="text" name="academicSession" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Semester</label>
                            <input type="text" name="semester" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Supervisor Name</label>
                            <select name="id" class="form-control">
                                <option value="">Select Supervisor</option>
                                @foreach (var lecturer in Model)
                                {
                                    <option value="@lecturer.User.Id">@lecturer.user_name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="userId" value="@userId" />
                    <div class="form-group mt-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
