@using ADStarter.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link btn btn-primary rounded-pill" id="register" asp-area="Identity" asp-page="/Account/Register" style="padding: 8px 16px; margin-right: 12px;">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-secondary rounded-pill" id="login" asp-area="Identity" asp-page="/Account/Login" style="padding: 8px 16px;">Login</a>
    </li>
</ul>

