<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
    <div>
        <div class="logo-wrapper">
            <a asp-area="Student" asp-controller="Dashboard" asp-action="Index">
                <img class="img-fluid for-light" src="/assets/images/logo_utm.png" style="width:150px" alt="">
                <img class="img-fluid for-dark" src="/assets/images/logo/logo_utm.png" style="width:150px" alt="">
            </a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
        </div>
        <div class="logo-icon-wrapper">
            <a asp-area="Student" asp-controller="Dashboard" asp-action="Index">
                <img class="img-fluid for-light" src="/assets/images/logo_utm.png" style="width:150px" alt="">
                <img class="img-fluid for-dark" src="/assets/images/logo/logo_utm.png" style="width:150px" alt="">
            </a>
        </div>

        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
                <ul class="sidebar-links flex-container" id="simple-bar">
                    <li class="sidebar-main-title">
                        <div>
                            <h6 class="lan-8">Applications</h6>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" asp-area="Student" asp-controller="SV" asp-action="SV">
                            <svg class="stroke-icon">
                                <use href="/assets/svg/icon-sprite.svg#stroke-sample-page"></use>
                            </svg>
                            <svg class="fill-icon">
                                <use href="/assets/svg/icon-sprite.svg#fill-sample-page"></use>
                            </svg>
                            <span>Supervisor</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" asp-area="Student" asp-controller="Proposal" asp-action="Proposal">
                            <svg class="stroke-icon">
                                <use href="/assets/svg/icon-sprite.svg#stroke-sample-page"></use>
                            </svg>
                            <svg class="fill-icon">
                                <use href="/assets/svg/icon-sprite.svg#fill-sample-page"></use>
                            </svg>
                            <span>Proposal</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </nav>
    </div>
</div>